<!DOCTYPE html>
<html lang="en" ng-app="rigView">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Rig Side View" content="">
    <meta name="Mike Meaney (San Diego, CA 2015)" content="">

    <title>Rig View</title>
   
    <!--Angular, bitches-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
    
    <!-- Bootstrap core CSS -->
    <!--<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Bootstrap UI (I have no idea what I'm doing)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    
    <style type="text/css">  
      .rigReady{
        background-color: #009933;
      }
      .rigWaiting{
        background-color: #003399;
        color: #A9A9A9;
      }
      .rigTesting{
        background-color: #333333;
      }
      .navInput{
        vertical-align: bottom;
        padding-top: 13px;
      }
      #submit{
        color: white;
      }

      #submit:hover{
        color: #009933;
      }
    </style> 
  </head>

  <body ng-controller="intakeController" class="{{theClass}}">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <!--- Always have a container Div, without Bootstrap fails to exisit-->
      <div class="container">
        <!-- This is our Nav-Bar at the top-->
        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rigley</a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/rigPortal">Rig View</a></li>
            <li><a href="/raPortal">RA Portal</a></li>
            <li><a> Rig: <select class="navInput"
                         ng-model="selectedRig" 
                         ng-options="rig.ID for rig in Rigs" 
                         ng-change="rigSelect(rig)"
                  />
                </a>
            </li>

            <li class="navInput">
             <form ng-submit="submit()"> 
              <input type="text" name="PID" ng-model='PID.text' placeholder='Enter PID'/>
               <span id="submit" ng-click='submit()' class="glyphicon glyphicon glyphicon-arrow-right"></span>
              </form>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <!-- This is the body of the page -->
      <!-- Kludgey fix to prevent content from going behind navbar-->
      <div class="row" style="height:75px">
        <div class="col-md-12">&nbsp</div>
      </div> <!-- end kludge-->

      <div class="row"> <!-- Partcipant & RA instructiobs-->
        <div class="col-md-4 col-md-offset-4">
          <h1>Howdy There, <br/> I'm Rigley!</div> 
        </div>
       </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">//Client Side script for Rigley's Test Subject-facing view
                            //Writen in Angular JS by Mike Meaney in San Diego, CA USA (2015)

      var rigView = angular.module('rigView', ['ui.bootstrap']); // Yee App of cause and purpose
      //var server = "http://localhost:3000"
      var server = "http://rigley-meaneymiked.rhcloud.com/"
      rigView.controller('intakeController', function($scope, $http){
      //The object for storing the PID info
      $scope.PID = {
      text: null
    }

    //Array of all Rig objects
    $scope.Rigs = [];
    //Populate the Rigs array
    function updateRigs(){
      $http.get(server+'/status').
        success(function(response){
          $scope.Rigs = response;
          console.log($scope.Rigs);
      });
    }
    updateRigs();

  //Save the rig selected
  $scope.selectedRig = {ID : ''};

  //The Rig Status
  $scope.rigStatus = "";
  setInterval(function(){
        $http.get(server+'/status').
          success(function(response){
            //$scope.rigStatus = response;
            angular.forEach(response, function(value, key){
              //console.log(key);
              console.log(value.ID);
              console.log(value.State);
              $scope.rigStatus = value.State;

              switch(value.State){
                case 'Waiting':
                  $scope.theClass = 'rigWaiting'
                  break;
                case 'Ready':
                  $scope.theClass = 'rigReady'
                  break;
                case 'Testing':
                  $scope.theClass = 'rigTesting'
                  break;
              }
            })

          })
  }, 1000);

  //Function for submiting the PID to the server which creates the TestData Object on the
  //Server
  $scope.submit = function(){
    console.log($scope.PID.text);
    console.log($scope.selectedRig.ID);

    //Insert function to data route to create new Test Data object on server
    $http.get(server+'/RigView/?PID='+$scope.PID.text+"&rig="+
      $scope.selectedRig.ID).
      success(function(data,status,headers,config){
        //Don't know how to..
      
      }).error(function(data,status,headers,config){
        //..use this bit.
      });
      
      //Clear the Text Field
      $scope.PID.text = ''; 


  }
  
});
</script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

